<div *ngIf="int64Vals && stringVals && boolVals">
  <table *ngIf="int64Vals">
    <thead>
      <tr>
        <th colspan="3">Int 64 Constants</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Mimir Overrides</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let constant of int64Vals">
        <td>{{constant.key}}</td>
        <td>{{constant.value | number}}<span>{{addDetail(constant.key)}}</span></td>
        <td>
          <div *ngIf="constant.override">{{constant.override | number}} <span>{{addDetail(constant.key)}}</span></div>
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <table *ngIf="stringVals">
    <thead>
      <tr>
        <th colspan="3">String Constants</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Mimir Overrides</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let constant of stringVals">
        <td>{{constant.key}}</td>
        <td>{{constant.value}}</td>
        <td>{{constant.override}}</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <table *ngIf="boolVals">
    <thead>
      <tr>
        <th colspan="3">Boolean Constants</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Mimir Overrides</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let constant of boolVals">
        <td>{{constant.key}}</td>
        <td>{{constant.value}}</td>
        <td>{{constant.override}}</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <table *ngIf="mimirVals">
    <thead>
      <tr>
        <th colspan="2">Mimir Overrides</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of mimirVals">
        <td>{{val.label}}</td>
        <td *ngIf="val.type == 'INT64'">{{val.value | number}}</td>
        <td *ngIf="val.type != 'INT64'">{{val.value }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading *ngIf="(!int64Vals || !stringVals || !boolVals) && !error"></app-loading>

<app-error *ngIf="error" [message]="error"></app-error>
