.volume-container {
  position: relative;
}

select {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

form {
  padding-top: 10px;
  float: right;

  label {
    padding-right: 15px;
    padding-left: 10px;
  }

}
