<h1 class="mobile-padding">Node:
  <span *ngIf="address" class="break-word">{{address}}</span>
  <span *ngIf="!address">...</span>
</h1>

<div *ngIf="thorNode">

  <table class="shadow margin-bottom">
    <thead>
      <tr>
        <th colspan="2" class="text-align--center">
          General Stats
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Status</td>
        <td>{{thorNode.status}}</td>
      </tr>
      <tr>
        <td>Status Since</td>
        <td>{{thorNode.statusSince | number}}</td>
      </tr>
      <tr>
        <td>IP Address</td>
        <td>{{thorNode.ipAddress}}</td>
      </tr>
      <tr>
        <td>Version</td>
        <td>{{thorNode.version}}</td>
      </tr>
      <tr>
        <td>Active Block Height</td>
        <td>{{thorNode.activeBlockHeight | number}}</td>
      </tr>
      <tr>
        <td>In Jail</td>
        <td>
          <div *ngIf="isInJail">
            Until Block: {{thorNode.jail.releaseHeight}} <br />
            Reason: {{thorNode.jail.reason}}
          </div>
          <div *ngIf="!isInJail">
            false
          </div>
        </td>
      </tr>
      <tr>
        <td>Validator Cons Pub Key</td>
        <td class="break-word">{{thorNode.validatorConsPubKey}}</td>
      </tr>
      <tr>
        <td>Bond</td>
        <td>{{thorNode.bond | assetUnits:8 | number}}</td>
      </tr>
      <tr>
        <td>Bond Address</td>
        <td class="break-word">{{thorNode.bondAddress}}</td>
      </tr>
      <tr>
        <td>Requested To Leave</td>
        <td>{{thorNode.requestedToLeave}}</td>
      </tr>
      <tr>
        <td>Forced To Leave</td>
        <td>{{thorNode.forcedToLeave}}</td>
      </tr>
      <tr>
        <td>Leave Height</td>
        <td>{{thorNode.leaveHeight}}</td>
      </tr>
      <tr>
        <td>Slash Points</td>
        <td>{{thorNode.slashPoints}}</td>
      </tr>
      <tr>
        <td>Current Award</td>
        <td>{{thorNode.currentAward | assetUnits:8 | number:"0.0-2"}}</td>
      </tr>
    </tbody>
  </table>

  <table class="shadow margin-bottom">
    <thead>
      <tr>
        <th colspan="2" class="text-align--center">Pub Key Set</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>secp256k1</td>
        <td class="break-word">{{thorNode.pubKeySet.secp256k1}}</td>
      </tr>
      <tr>
        <td>ed25519</td>
        <td class="break-word">{{thorNode.pubKeySet.ed25519}}</td>
      </tr>
    </tbody>
  </table>

  <table class="shadow margin-bottom">
    <thead>
      <tr>
        <th class="text-align--center">Signer Membership</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let signer of thorNode.signerMembership">
        <td class="break-word">{{signer}}</td>
      </tr>
    </tbody>
  </table>

</div>

<app-loading *ngIf="!thorNode && !error"></app-loading>

<app-error *ngIf="error" [message]="error"></app-error>
