<h1 class="mobile-padding">Nodes</h1>
<div *ngIf="versionSummary && activeNodes">
  <span *ngIf="versionSummary.next != versionSummary.current"><b>{{calculateNodesOnVersion(versionSummary.next) | percent}}</b> active network running: <b>{{versionSummary.next}}</b></span><br />
  <span><b>{{calculateNodesOnVersion(versionSummary.current) | percent}}</b> active network running: <b>{{versionSummary.current}}</b></span><br />
</div>

<br />

<app-nodes-table *ngIf="activeNodes" [nodes]="activeNodes" tableName="Active Nodes"></app-nodes-table>

<br />
<br />

<app-nodes-table *ngIf="standbyNodes" [nodes]="standbyNodes" tableName="Standby Nodes"></app-nodes-table>

<br />
<br />

<app-nodes-table *ngIf="disabledNodes" [nodes]="disabledNodes" tableName="Disabled Nodes"></app-nodes-table>

<app-loading *ngIf="!activeNodes && !error"></app-loading>

<app-error *ngIf="error" [message]="error"></app-error>
