<header class="flxr flxr--just-center">

  <div class="container">

    <div class="flxr flxr--space-between">

      <a id="logo" [routerLink]="['/']"><img src="assets/images/thorchain.png" /></a>

      <div style="width: 100%;">
        <app-search></app-search>
      </div>

    </div>

    <nav>
      <a [routerLinkActive]="['nav-active']" [routerLink]="['/', 'pools']">Assets</a>
      <a [routerLinkActive]="['nav-active']" [routerLink]="['/', 'network']">Network</a>
      <a [routerLinkActive]="['nav-active']" [routerLink]="['/', 'nodes']">Nodes</a>
      <a [routerLinkActive]="['nav-active']" [routerLink]="['/', 'txs']" [queryParams]="{offset: '0'}">TXs</a>
      <a [routerLinkActive]="['nav-active']" [routerLink]="['/', 'stakers']">Stakers</a>
    </nav>

    <br />

    <div class="icon-style" (click)="toggleTheme()">
      <svg class="dark" viewBox="-12 0 447 448.045" *ngIf="this.theme === 'LIGHT'">
        <path d="M224.023 448.031c85.715.903 164.012-48.488 200.118-126.23a171.044 171.044 0 01-72.118 14.23c-97.156-.11-175.89-78.844-176-176 .973-65.719 37.235-125.832 94.91-157.351A334.474 334.474 0 00224.024.03c-123.714 0-224 100.29-224 224 0 123.715 100.286 224 224 224zm0 0"></path>
      </svg>
      <svg class="light" fill="#FFF" viewBox="0 0 512 512" *ngIf="this.theme === 'DARK'">
        <path d="M256 96c-88.224 0-160 71.776-160 160s71.776 160 160 160 160-71.776 160-160S344.224 96 256 96zm0 288c-70.576 0-128-57.424-128-128s57.424-128 128-128 128 57.424 128 128-57.424 128-128 128zM240 0h32v64h-32zM240 448h32v64h-32zM448 240h64v32h-64zM0 240h64v32H0zM372.69 100.685l48.002-48.003 22.628 22.627-48.003 48.003zM68.692 75.316L91.32 52.688l48.003 48.003-22.627 22.628zM68.692 436.68l48.003-48.002 22.627 22.627-48.002 48.003zM372.672 411.32l22.628-22.628 48.003 48.003-22.628 22.627z"></path>
      </svg>
    </div>

    <div id="network-status-container">Network Status:
      <span *ngIf="networkSecurityStatus" id="network-status">
        <fa-icon class="optimal" *ngIf="networkSecurityStatus == 'Optimal'" [icon]="optimalIcon"></fa-icon>
        <fa-icon class="warning"
          *ngIf="(networkSecurityStatus == 'Underbonded' || networkSecurityStatus == 'Overbonded')"
          [icon]="warningIcon"></fa-icon>
        <fa-icon class="alert"
          *ngIf="(networkSecurityStatus == 'Insecure' || networkSecurityStatus == 'Inefficient' || networkSecurityStatus == 'Down')"
          [icon]="alertIcon"></fa-icon>
        {{networkSecurityStatus}}
      </span>
      <span *ngIf="!networkSecurityStatus">...</span>
    </div>

  </div>

</header>

<div class="container subheader flxr flxr--align-center flxr--space-between">
    <app-breadcrumb></app-breadcrumb>
    <app-network-toggle></app-network-toggle>
</div>
