.subheader {
    margin: 0 auto 10px auto;
    flex-wrap: wrap;
}

header {
  padding: 15px 15px;
  width: 100%;
  background-color: var(--header-background);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  position: relative;

  .net-status {
    color: var(--toolbar-text-color);
  }

  //Theme button

  .icon-style {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    display: flex;

    @media
    only screen and (max-width: 767px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      bottom: 5px;
    }

    &:hover {
      background: var(--hover-text-color);
      transition: background-color 100ms ease-in-out 0.1s;
    }
    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      overflow: visible;
    }
  }

  // End theme button

  #logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    @media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
      justify-content: space-between;

      a {
        margin-left: 0;
      }
    }

    // TODO Combine same style on other navs :CSSRefactor
    a {
      padding-bottom: 5px;
      margin-left: 15px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: all 150ms;
    }
    a:hover {
      border-bottom: 2px solid var(--link-color);
    }
    a.nav-active {
      border-bottom: 2px solid var(--link-color);
    }

  }

  #network-status-container {
    float: right;
  }

  #network-status {
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: green;
    }
  }

  .optimal {
    color: green;
    filter: brightness(150%);
  }

  .warning {
    color: orange;
    filter: brightness(150%);
  }

  .alert {
    color: red;
    filter: brightness(150%);
  }
}
