header {
  padding: 15px 15px;
  width: 100%;
  background-color: var(--header-background);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;

  //Theme button

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  //

  #logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    a {
      margin-left: 15px;
    }

    @media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
      justify-content: space-between;

      a {
        margin-left: 0;
      }
    }
  }

  #network-status-container {
    float: right;
  }

  #network-status {
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: green;
    }
  }

  .optimal {
    color: green;
  }

  .warning {
    color: orange;
  }

  .alert {
    color: red;
  }
}
