table {
  // border-collapse: collapse;
  // background-color: white;
  // margin-bottom: 15px;
  // // table-layout: fixed;
  // width:100%;

  tr {
    border-bottom: 2px solid gainsboro;
  }

  // th {
  //   background-color: rgba(0, 0, 0, 0.01);
  // }

  th, td {
    // padding: 5px 10px;
    // border: 1px solid gainsboro;
    // overflow:hidden;/* optionnal*/

    table {
      margin-bottom: 0;

      tr {
        border-bottom: 0;
      }

      th, td {
        font-weight: normal;
        padding: 5px 10px;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        overflow:hidden;/* optionnal*/
      }

      th {
        border-top: 1px solid gainsboro;
      }

    }

    .address {
      padding: 5px 10px;
    }

  }

}
