table {
	th,
	td {
		// this is sub table
		// for asset + amount spent
		table {
			margin-bottom: 0;

			tr {
				border-bottom: 0;
			}

			th,
			td {
				font-weight: normal;
				padding: 5px 10px;
				border-top: 0;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				overflow: hidden; /* optionnal*/
			}

			th {
				border-top: 1px solid gainsboro;
			}
		}
	}
}

/** TODO: simplify the table for mobile */
/*
Max width before for this particular table
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	// 	/* Force table to not be like tables anymore */
	// 	table, thead, tbody, th, td, tr {
	// 		display: block;
	// 	}

	// 	/* Hide table headers (but not display: none;, for accessibility) */
	// 	thead tr {
	// 		position: absolute;
	// 		top: -9999px;
	// 		left: -9999px;
	// 	}

	// 	td {
	// 		/* Behave  like a "row" */
	// 		border: none;
	// 		border-bottom: 1px solid #eee;
	// 		position: relative;
	//     padding-left: 25%;
	//     min-height: 30px;

	//     tr {
	//       td:nth-of-type(1):before { display: none; }
	//       td:nth-of-type(2):before { display: none; }
	//       td:nth-of-type(3):before { display: none; }
	//       td:nth-of-type(4):before { display: none; }
	//       td:nth-of-type(5):before { display: none; }
	//     }
	// 	}

	// 	td:before {
	// 		/* Now like a table header */
	// 		position: absolute;
	// 		/* Top/left values mimic padding */
	// 		top: 6px;
	// 		left: 6px;
	// 		width: 45%;
	// 		padding-right: 10px;
	// 		white-space: nowrap;
	// 	}

	// 	/*
	// 	Label the data
	// 	*/
	// 	td:nth-of-type(1):before { content: "Type"; }
	// 	td:nth-of-type(2):before { content: "In"; }
	// 	td:nth-of-type(3):before { content: "Out"; }
	// 	td:nth-of-type(4):before { content: "Status"; }
	// 	td:nth-of-type(5):before { content: "Date"; }
}
