<table *ngIf="transactions">
  <thead>
    <tr>
      <th>Type</th>
      <th>In</th>
      <th>Out</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="transactions.length === 0">
      <td colspan="5" class="text-align--center">
        <span style="display:inline-block; padding: 15px;">No data found!</span>
      </td>
    </tr>

    <tr *ngFor="let transaction of transactions">

      <td>

        {{transaction.type}}

        <!-- <fa-icon *ngIf="transaction.type == 'swap'" [icon]="swapIcon" [title]="transaction.type"></fa-icon>
          <fa-icon *ngIf="transaction.type == 'stake'" [icon]="depositIcon" [title]="transaction.type"></fa-icon>
          <fa-icon *ngIf="transaction.type == 'unstake'" [icon]="withdrawIcon" [title]="transaction.type"></fa-icon>
          <fa-icon *ngIf="transaction.type == 'refund'" [icon]="refundIcon" [title]="transaction.type"></fa-icon>
          <fa-icon *ngIf="transaction.type == 'add'" [icon]="addIcon" [title]="transaction.type"></fa-icon>
          <div *ngIf="transaction.type == 'doubleSwap'" [title]="transaction.type">
            <fa-icon [icon]="swapIcon"></fa-icon><br/>
            <fa-icon [icon]="swapIcon"></fa-icon>
          </div> -->
      </td>

      <!-- IN -->
      <td class="transaction-data">

        <app-tx-detail-table-data [transactionDetail]="transaction.in" direction="IN"></app-tx-detail-table-data>

      </td>

      <!-- OUT -->
      <td class="transaction-data">

        <ul>

          <li class="out-data" *ngFor="let out of transaction.out; let i = index">

            <app-tx-detail-table-data [transactionDetail]="out" direction="OUT"
              [class.pad]="transaction.out.length > 1 && i < (transaction.out.length - 1)"></app-tx-detail-table-data>

          </li>

        </ul>
      </td>

      <td>{{transaction.status}}</td>
      <td>{{transaction.date * 1000 | date:'short'}}</td>
    </tr>
  </tbody>
</table>

<span *ngIf="!transactions">...</span>
