<table *ngIf="network">
  <thead>
    <tr>
      <th colspan="2" class="text-align--center">Network Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total Pooled</td>
      <td>
        {{ network.totalStaked | number:'1.0-0' }}
        <span *ngIf="currentRate">(${{network.totalStaked * currentRate | number:'1.0-0'}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Reserve</td>
      <td>
        {{network.totalReserve | number:'1.0-0'}}
        <span *ngIf="currentRate">(${{network.totalReserve * currentRate | number:'1.0-0'}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Active Bonded</td>
      <td>
        {{network.totalActiveBonded | number:'1.0-0'}}
        <span *ngIf="currentRate">(${{network.totalActiveBonded * currentRate | number:'1.0-0'}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Standby Bonded</td>
      <td>
        {{network.totalStandbyBonded | number:'1.0-0'}}
        <span *ngIf="currentRate">(${{network.totalStandbyBonded * currentRate | number:'1.0-0'}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Capital</td>
      <td>
        {{network.totalCapital | number:'1.0-0'}}
        <span *ngIf="currentRate">(${{network.totalCapital * currentRate | number:'1.0-0'}})</span>
      </td>
    </tr>
    <tr>
      <td>Active Node Count</td>
      <td>{{network.activeNodeCount}}</td>
    </tr>
    <tr>
      <td>Standby Node Count</td>
      <td>{{network.standbyNodeCount}}</td>
    </tr>
    <tr>
      <td>Pool Share Factor</td>
      <td>{{network.poolShareFactor | percent:'1.0-2'}}</td>
    </tr>
    <tr>
      <td>Pool Activation Countdown</td>
      <td>{{network.poolActivationCountdown}}</td>
    </tr>
    <tr>
      <td>Node APY</td>
      <td *ngIf="isFinite(network.bondingROI)">{{network.bondingROI | percent:'1.0-2'}}</td>
      <td *ngIf="!isFinite(network.bondingROI)">{{network.bondingROI}}</td>
    </tr>
    <tr>
      <td>Pool APY</td>
      <td>{{network.stakingROI | percent:'1.0-2'}}</td>
    </tr>
    <tr>
      <td>Next Churn Height</td>
      <td>{{network.nextChurnHeight}}</td>
    </tr>
  </tbody>
</table>
