.pool-staker-sort {
  padding-bottom: 5px;
}
.pool-staker-sort--select {
  margin-left: 5px;
  padding: 0px 5px;
}

table {
	th,
	td {
		// this is sub table
		// for asset + amount spent
		table {
			margin-bottom: 0;

			tr {
				border-bottom: 0;
			}

			th,
			td {
				font-weight: normal;
				padding: 5px 10px;
				border-top: 0;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				overflow: hidden; /* optionnal*/
			}

			th {
				border-top: 1px solid gainsboro;
			}
		}
	}
}

.staker-summary {
  display: flex;
  justify-content: space-between;

  .pieChart {
    display: block;
    margin: -100px 0 30px 0;
  }

  @media
  only screen and (max-width: 767px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    flex-flow: column;


    .pieChart {
      // display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      margin: 30px 0 30px 0;
    }
  }
}

/*
Max width before for this particular table
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	.pieChart {
		display: block;
		width: 100%;
	}
}
