<h1 class="mobile-padding text-2xl font-bold font-mono py-4 dark:text-white break-all">Midgard API Explorer</h1>
<br />

<div class="explorer">
  <aside class="dark:text-white">
    <h4>Endpoints</h4>
    <ul class="endpoints-list">
      <li class="my-4" *ngFor="let endpoint of endpoints">
        <a
          class="endpoint"
          [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="endpoint.path"
          >{{ endpoint.label }}</a
        >
      </li>
    </ul>
  </aside>
  <main><app-explorer-ui></app-explorer-ui></main>
</div>
