.explorer {
  display: flex;
}
.explorer aside {
  flex: 1;
  max-width: 300px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .explorer {
    flex-direction: column;
  }
  .explorer aside {
    max-width: 100%;
    flex: 0;
  }
}

.endpoints-list {
  height: 100%;
  list-style-type: none;
  padding: 5px 0px 5px 5px;
  margin: 0;
  overflow: auto;
}

.endpoint.is-active {
  background: var(--background-dashboard);
  color: var(--toolbar-text-color);
  border-right: 2px solid var(--border-bottom-color);
}

.explorer main {
  flex: 1;
  overflow: auto;
}
