<app-header></app-header>
<div class="bg-gray-100 dark:bg-gray-800">
  <div class="flex justify-center">

    <main>

      <router-outlet></router-outlet>

    </main>

  </div>

  <footer class="flex justify-center mobile-padding mt-4">
    <div class="container">
      <ul>
        <li>
          <a href="https://twitter.com/thorchain_org" target="_blank"><fa-icon [icon]="twitterIcon"></fa-icon></a>
        </li>
        <li>
          <a href="https://www.reddit.com/r/THORChain/" target="_blank"><fa-icon [icon]="redditIcon"></fa-icon></a>
        </li>
        <li>
          <a href="https://gitlab.com/thorchain" target="_blank"><fa-icon [icon]="gitlabIcon"></fa-icon></a>
        </li>
        <li>
          <a href="https://t.me/thorchain_org" target="_blank"><fa-icon [icon]="telegramIcon"></fa-icon></a>
        </li>
        <li>
          <a href="https://discord.gg/V6pNp8A" target="_blank"><fa-icon [icon]="discordIcon"></fa-icon></a>
        </li>
        <li>
          <a href="https://medium.com/thorchain" target="_blank"><fa-icon [icon]="mediumIcon"></fa-icon></a>
        </li>
      </ul>
    </div>
  </footer>
</div>




