:host {
  max-width: 100%;
  width: 100%;
}

main {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 260px);

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { width: 768px; }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { width: 992px; }

  // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) { ... }

}

footer {
  padding-bottom: 24px;

  ul {
    float: right;
    margin: 0;

    li {

      float: left;
      padding: 0 15px;

      a {
        font-size: 2.2rem;
        color: gainsboro;

        &:hover {
          color: darken($color: gainsboro, $amount: 12%)
        }
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

  }

}

