:host {
  max-width: 100%;
  width: 100%;
}


footer {
  padding-bottom: 24px;

  ul {
    float: right;
    margin: 0;

    li {

      float: left;
      padding: 0 15px;

      a {
        color: gainsboro;

        &:hover {
          color: darken($color: gainsboro, $amount: 12%)
        }
      }

      &:last-of-type {
        padding-right: 0;
      }
    }

  }

}

