<table *ngIf="nodes && nodes.length > 0" class="shadow">
  <thead>
    <tr>
      <th>Address</th>
      <th>Status</th>
      <th class="mobile-hidden">Version</th>
      <th>IP</th>
      <th class="mobile-hidden">Slash Points</th>
      <th>Current Award</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodes">
      <td>
        <a [routerLink]="['/', 'nodes', node.node_address]">{{node.node_address.substring(0, 8)}}...{{node.node_address.substring(node.node_address.length - 4, node.node_address.length)}}</a>
      </td>
      <td>
        {{node.status}}
      </td>
      <td class="mobile-hidden">
        {{node.version}}
      </td>
      <td>
        {{node.ip_address}}
      </td>
      <td class="mobile-hidden">{{node.slash_points}}</td>
      <td>
        {{node.current_award}}
      </td>
    </tr>
  </tbody>
</table>
