<div class="explorer-ui dark:text-white text-base font-mono" *ngIf="currentEndpoint">
  <div class="mb-4">
    <h4 class="text-lg font-semibold">{{ currentEndpoint.summary }}</h4>
    <p>{{ currentEndpoint.description }}</p>
  </div>
  <div class="mb-4">
    <h5 class="text-lg font-semibold">URL</h5>
    <pre>{{ currentEndpoint.method }} {{ makePathWithParams() }}</pre>
  </div>
  <div
    *ngIf="currentEndpoint.params"
    class="mb-4"
  >
    <h5 class="text-lg font-semibold">Params</h5>
    <form (ngSubmit)="submitQueries($event)">
      <div *ngFor="let p of currentEndpoint.params" class="my-2">
        <app-query-input
          [param]="p"
          [value]="getValue(p)"
          (inputChanged)="updateParams($event)"
        ></app-query-input>
      </div>
      <button
        [disabled]="loading"
        (click)="submitQueries($event)"
        class="text-black px-4 mt-6 float-right"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="mt-1">
    <h5 class="text-lg font-semibold">Response</h5>
    <pre *ngIf="!loading && response" class="text-base">{{ formatResponse() }}</pre>
    <pre *ngIf="loading">Loading...</pre>
  </div>

  <div *ngIf="shouldShowLinks()" class="mt-1">
    <h5>Links</h5>
    <app-response-links [response]="response"></app-response-links>
  </div>
</div>
