<table *ngIf="nodes && nodes.length > 0" class="shadow nodes-table">
  <thead>
    <tr *ngIf="tableName">
      <th colspan="6">{{tableName}}</th>
    </tr>
    <tr>
      <th>Address</th>
      <th>Status</th>
      <th>Version</th>
      <th>IP</th>
      <th>Slash Points</th>
      <th>Current Award</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodes">
      <td>
        <a
          [routerLink]="['/', 'nodes', node.node_address]">{{node.node_address.substring(0, 8)}}...{{node.node_address.substring(node.node_address.length - 4, node.node_address.length)}}</a>
      </td>
      <td>
        {{node.status}}
      </td>
      <td>
        {{node.version}}
      </td>
      <td>
        {{node.ip_address}}
      </td>
      <td>{{node.slash_points}}</td>
      <td>
        {{node.current_award | assetUnits:8 | number:"0.0-2"}}
      </td>
    </tr>
  </tbody>
</table>
