<table *ngIf="nodes" class="border-collapse">
  <thead>
    <tr *ngIf="tableName">
      <th colspan="9" class="text-center font-mono font-bold">{{tableName}}</th>
    </tr>
    <tr>
      <th></th>
      <th>Address</th>
      <th>Status</th>
      <th>Version</th>
      <th>IP</th>
      <th>Location</th>
      <th>Slash Points</th>
      <th>Current Award</th>
      <th>Total Bond</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row" *ngIf="nodes.length === 0">
      <td colspan="9" class="text-align--center">
        <span style="display:inline-block; padding: 15px;">No data found!</span>
      </td>
    </tr>
    <tr class="table-row" *ngFor="let node of nodes">
      <td class="table-item">
        <button (click)="toggleNodePin(node.nodeAddress)" class="bg-transparent border-none focus:outline-none">
          <fa-icon *ngIf="true" [icon]="pinIcon" class="fill-current" [class.text-yellow-500]="isPinned(node.nodeAddress)"></fa-icon>
        </button>
      </td>
      <td class="table-item">
        <a
          [routerLink]="['/', 'nodes', node.nodeAddress]">{{node.nodeAddress.substring(0, 8)}}...{{node.nodeAddress.substring(node.nodeAddress.length - 4, node.nodeAddress.length)}}</a>
      </td>
      <td class="table-item">
        {{node.status}}
      </td>
      <td class="table-item">
        {{node.version}}
      </td>
      <td class="table-item">
        {{node.ipAddress}}
      </td>
      <td *ngIf="node.location" class="table-item">
        {{node.location.country_name}}
      </td>
      <td class="table-item">{{node.slashPoints}}</td>
      <td class="table-item">
        {{node.currentAward | assetUnits:8 | number:"0.0-0"}}
      </td>
      <td class="table-item">
        {{node.bond | assetUnits:8 | number:"0.0-0"}}
      </td>
    </tr>
  </tbody>
</table>
