<table *ngIf="nodes && nodes.length > 0" class="shadow nodes-table">
  <thead>
    <tr *ngIf="tableName">
      <th colspan="7">{{tableName}}</th>
    </tr>
    <tr>
      <th>Address</th>
      <th>Status</th>
      <th>Version</th>
      <th>IP</th>
      <th>Slash Points</th>
      <th>Current Award</th>
      <th>Total Bond</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodes">
      <td>
        <a
          [routerLink]="['/', 'nodes', node.nodeAddress]">{{node.nodeAddress.substring(0, 8)}}...{{node.nodeAddress.substring(node.nodeAddress.length - 4, node.nodeAddress.length)}}</a>
      </td>
      <td>
        {{node.status}}
      </td>
      <td>
        {{node.version}}
      </td>
      <td>
        {{node.ipAddress}}
      </td>
      <td>{{node.slashPoints}}</td>
      <td>
        {{node.currentAward | assetUnits:8 | number:"0.0-2"}}
      </td>
      <td>
        {{node.bond | assetUnits:8 | number:"0.0-2"}}
      </td>
    </tr>
  </tbody>
</table>
