<div *ngIf="poolDetail && !error">

  <div class="grid grid--col-3">

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Pool Overview</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Pool APY</td>
            <td class="table-item">
              <span *ngIf="asset">{{setAPY(poolDetail.poolROI) | percent:'1.0-2'}}</span>
              <span *ngIf="!asset">...</span>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Depth</td>
            <td class="table-item">{{poolDetail.poolDepth | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Deposited Total</td>
            <td class="table-item">{{poolDetail.poolStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row" *ngIf="poolDetail.poolEarned">
            <td class="table-item">Pool Earned</td>
            <td class="table-item">{{poolDetail.poolEarned | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Asset Overview</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Asset APY</td>
            <td class="table-item">
              <span *ngIf="asset">{{setAPY(poolDetail.assetROI) | percent:'1.0-2'}}</span>
              <span *ngIf="!asset">...</span>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Asset Depth</td>
            <td class="table-item">{{poolDetail.assetDepth | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Asset Deposited Total</td>
            <td class="table-item">{{poolDetail.assetStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row" *ngIf="poolDetail.assetEarned">
            <td class="table-item">Pool Earned</td>
            <td class="table-item">{{poolDetail.assetEarned | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Rune Overview</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Rune APY</td>
            <td class="table-item">
              <span *ngIf="asset">{{setAPY(poolDetail.runeROI) | percent:'1.0-2'}}</span>
              <span *ngIf="!asset">...</span>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Rune Depth</td>
            <td class="table-item">{{poolDetail.runeDepth | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Rune Deposited Total</td>
            <td class="table-item">{{poolDetail.runeStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row" *ngIf="poolDetail.runeEarned">
            <td class="table-item">Pool Earned</td>
            <td class="table-item">{{poolDetail.runeEarned | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

  </div>

  <div class="grid grid--col-3">

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Pool</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Pool Fee Average</td>
            <td class="table-item">{{poolDetail.poolFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Fees Total</td>
            <td class="table-item">{{poolDetail.poolFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Slip Average</td>
            <td class="table-item">{{poolDetail.poolSlipAverage | percent:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Tx Average</td>
            <td class="table-item">{{poolDetail.poolTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Volume</td>
            <td class="table-item">{{poolDetail.poolVolume | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Volume (24 Hour)</td>
            <td class="table-item">{{poolDetail.poolVolume24hr | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Pool Units</td>
            <td class="table-item">{{poolDetail.poolUnits | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Buy</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Buy Fee Avg</td>
            <td class="table-item">{{poolDetail.buyFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Buy Fees Total</td>
            <td class="table-item">{{poolDetail.buyFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Buy Slip Avg</td>
            <td class="table-item">{{poolDetail.buySlipAverage | percent:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Buy Tx Avg</td>
            <td class="table-item">{{poolDetail.buyTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Buy Volume</td>
            <td class="table-item">{{poolDetail.buyVolume | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Buy Asset Count</td>
            <td class="table-item">{{poolDetail.buyAssetCount | number}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Sell</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Sell Fee Avg</td>
            <td class="table-item">{{poolDetail.sellFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Sell Fees Total</td>
            <td class="table-item">{{poolDetail.sellFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Sell Slip Average</td>
            <td class="table-item">{{poolDetail.sellSlipAverage | percent:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Sell Tx Average</td>
            <td class="table-item">{{poolDetail.sellTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Sell Volume</td>
            <td class="table-item">{{poolDetail.sellVolume | assetUnits:8 | number:'1.0-2'}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Sell Asset Count</td>
            <td class="table-item">{{poolDetail.sellAssetCount | number}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

  </div>

  <div class="grid grid--col-3">

    <app-content-item>
      <table>
        <thead>
          <tr>
            <th colspan="2" class="text-align--center">Participants / Transactions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td class="table-item">Withdraw Tx Count</td>
            <td class="table-item">{{poolDetail.withdrawTxCount | number}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Swappers Count</td>
            <td class="table-item">{{poolDetail.swappersCount | number}}</td>
          </tr>
          <tr class="table-row">
            <td class="table-item">Swapping Tx Count</td>
            <td class="table-item">{{poolDetail.swappingTxCount | number}}</td>
          </tr>
        </tbody>
      </table>
    </app-content-item>

    <div></div>
    <div></div>

  </div>

</div>

<app-loading *ngIf="!poolDetail && !error"></app-loading>

<app-error *ngIf="error" message="Pool Not Found"></app-error>
