<div *ngIf="poolDetail">

  <table>
    <tbody>
      <tr>
        <td>Asset Depth</td>
        <td>{{poolDetail.assetDepth}}</td>
      </tr>
      <tr>
        <td>Asset ROI</td>
        <td>{{poolDetail.assetROI}}</td>
      </tr>
      <tr>
        <td>Asset Staked Total</td>
        <td>{{poolDetail.assetStakedTotal}}</td>
      </tr>
      <tr>
        <td>Buy Asset Count</td>
        <td>{{poolDetail.buyAssetCount}}</td>
      </tr>
      <tr>
        <td>Buy Fee Avg</td>
        <td>{{poolDetail.buyFeeAverage}}</td>
      </tr>
      <tr>
        <td>Buy Fee Total</td>
        <td>{{poolDetail.buyFeesTotal}}</td>
      </tr>
      <tr>
        <td>Buy Slip Avg</td>
        <td>{{poolDetail.buySlipAverage}}</td>
      </tr>
      <tr>
        <td>Buy Tx Avg</td>
        <td>{{poolDetail.buyTxAverage}}</td>
      </tr>
      <tr>
        <td>Buy Volume</td>
        <td>{{poolDetail.buyVolume}}</td>
      </tr>
      <tr>
        <td>Pool Depth</td>
        <td>{{poolDetail.poolDepth}}</td>
      </tr>
      <tr>
        <td>Pool Fee Average</td>
        <td>{{poolDetail.poolFeeAverage}}</td>
      </tr>
      <tr>
        <td>Pool Fee Total</td>
        <td>{{poolDetail.poolFeesTotal}}</td>
      </tr>
      <tr>
        <td>Pool Slip Average</td>
        <td>{{poolDetail.poolSlipAverage}}</td>
      </tr>
      <tr>
        <td>Pool ROI</td>
        <td>{{poolDetail.poolROI}}</td>
      </tr>
      <tr>
        <td>Pool Staked Total</td>
        <td>{{poolDetail.poolStakedTotal}}</td>
      </tr>
      <tr>
        <td>Pool Units</td>
        <td>{{poolDetail.poolUnits}}</td>
      </tr>
      <tr>
        <td>Pool Volume</td>
        <td>{{poolDetail.poolVolume}}</td>
      </tr>
      <tr>
        <td>Pool Volume (24 Hour)</td>
        <td>{{poolDetail.poolVolume24hr}}</td>
      </tr>
      <tr>
        <td>Pool Tx Average</td>
        <td>{{poolDetail.poolTxAverage}}</td>
      </tr>
      <tr>
        <td>Rune Depth</td>
        <td>{{poolDetail.runeDepth}}</td>
      </tr>
      <tr>
        <td>Rune ROI</td>
        <td>{{poolDetail.runeROI}}</td>
      </tr>
      <tr>
        <td>Rune Staked Total</td>
        <td>{{poolDetail.runeStakedTotal}}</td>
      </tr>
      <tr>
        <td>Sell Asset Count</td>
        <td>{{poolDetail.sellAssetCount}}</td>
      </tr>
      <tr>
        <td>Sell Fee Avg</td>
        <td>{{poolDetail.sellFeeAverage}}</td>
      </tr>
      <tr>
        <td>Sell Fees Total</td>
        <td>{{poolDetail.sellFeesTotal}}</td>
      </tr>
      <tr>
        <td>Sell Slip Average</td>
        <td>{{poolDetail.sellSlipAverage}}</td>
      </tr>
      <tr>
        <td>Sell Tx Average</td>
        <td>{{poolDetail.sellTxAverage}}</td>
      </tr>
      <tr>
        <td>Sell Volume</td>
        <td>{{poolDetail.sellVolume}}</td>
      </tr>
      <tr>
        <td>Stake Tx Count</td>
        <td>{{poolDetail.stakeTxCount}}</td>
      </tr>
      <tr>
        <td>Stakers Count</td>
        <td>{{poolDetail.stakersCount}}</td>
      </tr>
      <tr>
        <td>Staking Tx Count</td>
        <td>{{poolDetail.stakingTxCount}}</td>
      </tr>
      <tr>
        <td>Swappers Count</td>
        <td>{{poolDetail.swappersCount}}</td>
      </tr>
      <tr>
        <td>Swapping Tx Count</td>
        <td>{{poolDetail.swappingTxCount}}</td>
      </tr>
      <tr>
        <td>Withdraw Tx Count</td>
        <td>{{poolDetail.withdrawTxCount}}</td>
      </tr>
    </tbody>
  </table>

  <br />

</div>

<span *ngIf="!poolDetail">...</span>
