<div *ngIf="poolDetail">

  <table>
    <tbody>
      <tr>
        <td>Asset Depth</td>
        <td>{{poolDetail.assetDepth | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Asset ROI (APY)</td>
        <td>
          <span *ngIf="asset">{{setAPY(poolDetail.assetROI) | percent:'1.2-4'}}</span>
          <span *ngIf="!asset">...</span>
        </td>
      </tr>
      <tr>
        <td>Asset Staked Total</td>
        <td>{{poolDetail.assetStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Buy Asset Count</td>
        <td>{{poolDetail.buyAssetCount | number}}</td>
      </tr>
      <tr>
        <td>Buy Fee Avg</td>
        <td>{{poolDetail.buyFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Buy Fee Total</td>
        <td>{{poolDetail.buyFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Buy Slip Avg</td>
        <td>{{poolDetail.buySlipAverage | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Buy Tx Avg</td>
        <td>{{poolDetail.buyTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Buy Volume</td>
        <td>{{poolDetail.buyVolume | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Depth</td>
        <td>{{poolDetail.poolDepth | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Fee Average</td>
        <td>{{poolDetail.poolFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Fee Total</td>
        <td>{{poolDetail.poolFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Slip Average</td>
        <td>{{poolDetail.poolSlipAverage | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool ROI (APY)</td>
        <td>
          <span *ngIf="asset">{{setAPY(poolDetail.poolROI) | percent:'1.2-4'}}</span>
          <span *ngIf="!asset">...</span>
        </td>
      </tr>
      <tr>
        <td>Pool Staked Total</td>
        <td>{{poolDetail.poolStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Units</td>
        <td>{{poolDetail.poolUnits | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Volume</td>
        <td>{{poolDetail.poolVolume | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Volume (24 Hour)</td>
        <td>{{poolDetail.poolVolume24hr | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Pool Tx Average</td>
        <td>{{poolDetail.poolTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Rune Depth</td>
        <td>{{poolDetail.runeDepth | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Rune ROI (APY)</td>
        <td>
          <span *ngIf="asset">{{setAPY(poolDetail.runeROI) | percent:'1.2-4'}}</span>
          <span *ngIf="!asset">...</span>
        </td>
      </tr>
      <tr>
        <td>Rune Staked Total</td>
        <td>{{poolDetail.runeStakedTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Sell Asset Count</td>
        <td>{{poolDetail.sellAssetCount | number}}</td>
      </tr>
      <tr>
        <td>Sell Fee Avg</td>
        <td>{{poolDetail.sellFeeAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Sell Fees Total</td>
        <td>{{poolDetail.sellFeesTotal | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Sell Slip Average</td>
        <td>{{poolDetail.sellSlipAverage | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Sell Tx Average</td>
        <td>{{poolDetail.sellTxAverage | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Sell Volume</td>
        <td>{{poolDetail.sellVolume | assetUnits:8 | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Stake Tx Count</td>
        <td>{{poolDetail.stakeTxCount | number}}</td>
      </tr>
      <tr>
        <td>Stakers Count</td>
        <td>{{poolDetail.stakersCount | number}}</td>
      </tr>
      <tr>
        <td>Staking Tx Count</td>
        <td>{{poolDetail.stakingTxCount | number}}</td>
      </tr>
      <tr>
        <td>Swappers Count</td>
        <td>{{poolDetail.swappersCount | number}}</td>
      </tr>
      <tr>
        <td>Swapping Tx Count</td>
        <td>{{poolDetail.swappingTxCount | number}}</td>
      </tr>
      <tr>
        <td>Withdraw Tx Count</td>
        <td>{{poolDetail.withdrawTxCount | number}}</td>
      </tr>
    </tbody>
  </table>

  <br />

</div>

<span *ngIf="!poolDetail">...</span>
