<table class="border-collapse" *ngIf="stats">
  <thead>
    <tr>
      <th colspan="2" class="text-center font-mono font-bold">Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row">
      <td class="table-item">Daily Active Users</td>
      <td class="table-item">{{stats.dailyActiveUsers | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Monthly Active Users</td>
      <td class="table-item">{{stats.monthlyActiveUsers | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Users</td>
      <td class="table-item">{{stats.totalUsers | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Daily Tx</td>
      <td class="table-item">{{stats.dailyTx | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Monthly Tx</td>
      <td class="table-item">{{stats.monthlyTx | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Tx</td>
      <td class="table-item">{{stats.totalTx | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Volume (24 Hour)</td>
      <td class="table-item">
        {{stats.totalVolume24hr | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalVolume24hr * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Volume</td>
      <td class="table-item">
        {{stats.totalVolume | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalVolume * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Pooled</td>
      <td class="table-item">
        {{stats.totalStaked | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalStaked * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Depth</td>
      <td class="table-item">
        {{stats.totalDepth | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalDepth * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Earned</td>
      <td class="table-item">
        {{stats.totalEarned | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalEarned * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Pool Count</td>
      <td class="table-item">{{stats.poolCount}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Asset Buys</td>
      <td class="table-item">{{stats.totalAssetBuys | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Asset Sells</td>
      <td class="table-item">{{stats.totalAssetSells | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Deposit Tx</td>
      <td class="table-item">{{stats.totalStakeTx | number}}</td>
    </tr>
    <tr class="table-row">
      <td class="table-item">Total Withdraw Tx</td>
      <td class="table-item">{{stats.totalWithdrawTx | number}}</td>
    </tr>
  </tbody>
</table>
