<table *ngIf="stats">
  <thead>
    <tr>
      <th colspan="2">Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Daily Active Users</td>
      <td>{{stats.dailyActiveUsers | number}}</td>
    </tr>
    <tr>
      <td>Monthly Active Users</td>
      <td>{{stats.monthlyActiveUsers | number}}</td>
    </tr>
    <tr>
      <td>Total Users</td>
      <td>{{stats.totalUsers | number}}</td>
    </tr>
    <tr>
      <td>Daily Tx</td>
      <td>{{stats.dailyTx | number}}</td>
    </tr>
    <tr>
      <td>Monthly Tx</td>
      <td>{{stats.monthlyTx | number}}</td>
    </tr>
    <tr>
      <td>Total Tx</td>
      <td>{{stats.totalTx | number}}</td>
    </tr>
    <tr>
      <td>Volume (24 Hour)</td>
      <td>
        {{stats.totalVolume24hr | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalVolume24hr * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Volume</td>
      <td>
        {{stats.totalVolume | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalVolume * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Staked</td>
      <td>
        {{stats.totalStaked | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalStaked * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr>
      <td>Total Depth</td>
      <td>
        {{stats.totalDepth | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalDepth * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>

    <tr>
      <td>Total Earned</td>
      <td>
        {{stats.totalEarned | number:"0.0-2"}}
        <span *ngIf="currentRate">(${{stats.totalEarned * currentRate | number:"0.0-2"}})</span>
      </td>
    </tr>
    <tr>
      <td>Pool Count</td>
      <td>{{stats.poolCount}}</td>
    </tr>
    <tr>
      <td>Total Asset Buys</td>
      <td>{{stats.totalAssetBuys | number}}</td>
    </tr>
    <tr>
      <td>Total Asset Sells</td>
      <td>{{stats.totalAssetSells | number}}</td>
    </tr>
    <tr>
      <td>Total Stake Tx</td>
      <td>{{stats.totalStakeTx | number}}</td>
    </tr>
    <tr>
      <td>Total Withdraw Tx</td>
      <td>{{stats.totalWithdrawTx | number}}</td>
    </tr>
  </tbody>
</table>
