<h1 class="mobile-padding">THORChain Explorer</h1>

<app-loading *ngIf="(!network || !nodes || !transactions || !stats) && !error"></app-loading>

<div id="dashboard" *ngIf="network && nodes && transactions && stats && !error">

  <div class="grid">

    <!-- Network Status Summary -->
    <div class="grid-item">
      <app-network-summary-table *ngIf="network" [network]="network" [currentRate]="currentRate"></app-network-summary-table>
      <a *ngIf="network" [routerLink]="['/', 'network']" class="view-more">View Network</a>
    </div>


    <!-- Volume -->
    <div class="grid-item">
      <app-volume></app-volume>
    </div>

    <!-- Daily Stats-->
    <div class="grid-item">
      <app-stats-table *ngIf="stats" [stats]="stats"></app-stats-table>
    </div>


    <!-- Nodes Summary -->
    <div class="grid-item">
      <table *ngIf="nodes">
        <thead>
          <tr><th colspan="3">Nodes</th></tr>
          <tr>
            <th>Address</th>
            <th>Status</th>
            <th>Current Award</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let node of nodes | slice:0:(nodes.length < 14) ? nodes.length : 14;">
            <td>
              <a [routerLink]="['/', 'nodes', node.nodeAddress]">{{node.nodeAddress.substring(0, 8)}}...{{node.nodeAddress.substring(node.nodeAddress.length - 4, node.nodeAddress.length)}}</a>
            </td>
            <td>{{node.status}}</td>
            <td>{{node.currentAward | assetUnits:8 | number}}</td>
          </tr>
        </tbody>
      </table>
      <a *ngIf="nodes" [routerLink]="['/', 'nodes']" class="view-more">View All Nodes</a>
    </div>

  </div>

  <!-- Dash Transactions Summary-->

  <div class="grid-item">
    <app-transactions-table [transactions]="transactions"></app-transactions-table>
    <a [routerLink]="['/', 'txs']" [queryParams]="{offset: 0}" class="view-more">View More Transactions</a>
  </div>

</div>

<app-error *ngIf="error" [message]="error"></app-error>
