
<h1 class="mobile-padding text-2xl font-bold font-mono py-4 dark:text-white">TXs</h1>

<div *ngIf="transactions">

  <div class="container pb-4">
    <div *ngIf="selectedTypes" class="flex">

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.add" type="checkbox" name="add" id="add" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="add">Add</label>
      </div>

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.doubleSwap" type="checkbox" name="doubleSwap" id="doubleSwap" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="doubleSwap">Double Swap</label>
      </div>

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.refund" type="checkbox" name="refund" id="refund" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="refund">Refund</label>
      </div>

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.stake" type="checkbox" name="stake" id="stake" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="stake">Deposit</label>
      </div>

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.swap" type="checkbox" name="swap" id="swap" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="swap">Swap</label>
      </div>

      <div class="flex items-center mr-4">
        <input [(ngModel)]="selectedTypes.unstake" type="checkbox" name="unstake" id="unstake" (change)="filterType()" class="rounded text-yellow-600" />
        <label class="dark:text-white ml-2" for="unstake">Withdraw</label>
      </div>

    </div>
  </div>

  <div class="container">
    <app-content-item>
      <app-transactions-table [transactions]="transactions"></app-transactions-table>
    </app-content-item>
  </div>


  <div class="page-actions">
    <button *ngIf="offset > 0" (click)="setPage(0)"><<</button>
    <button *ngIf="offset > 0" (click)="setPage(offset - limit)"><</button>
    <button *ngIf="offset + limit < totalCount" (click)="setPage(offset + limit)">></button>
    <button *ngIf="offset + limit < totalCount" (click)="setPage(getLastPageOffset())">>></button>
  </div>

</div>

<app-loading *ngIf="!transactions && !error"></app-loading>

<app-error *ngIf="error" [message]="error"></app-error>
