.type-filter {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &:last-child {
      padding-right: 15px;
    }
  }

}
