/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/animations";
@import "styles/theme";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--background-color);
  font-size: 1.6rem;
  margin: 0;
  overflow-x: hidden;
}

h1, span, label {
  color: var(--toolbar-text-color);
}

span {
  color: var(--toolbar-text-color);
}

table {
  border-collapse: collapse;
  background-color: var(--background-dashboard);
  width:100%;
  border-radius: 5px;
  overflow: hidden;

  th, td {
    padding: 5px 10px;
    border-bottom: 1px solid gainsboro;
    overflow: hidden; /* optionnal*/
    padding: 10px;
    vertical-align: top;
    color: var(--toolbar-text-color);

    &:first-of-type {
      border-left: 0;
    }
    &:last-of-type {
      border-right: 0;
    }
  }

  th {
    border-top: 0;
  }

  tbody {

    tr {

      &:nth-of-type(even) {

        background: whitesmoke;

        @media (min-width: 768px) { background: none; }

      }

      &:hover {
        background-color: var(--hover-text-color);
      }

    }

  }

}

a {
  color: var(--link-color);
}

h1 {
  font-weight: normal;
  font-size: 2.0rem;
}

input, select, textarea, button{font-family:inherit;}

input {
  font-size: 1.6rem;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

.container {
  width: 100%;
  max-width: 100%;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { width: 768px; }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { width: 992px; }
}

.checkbox-container {
  input[type="checkbox"] {
    visibility: hidden;
  }
  label {
    cursor: pointer;
  }
  input[type="checkbox"] + label:before {
    border: 2px solid black;
    content: "\00a0";
    display:inline-flex;
    align-items: center;
    font: 22px/1rem monospace;
    height: 14px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 14px;
    color: #fff;
    border-radius: 3px;
  }
  input[type="checkbox"]:checked + label:before {
    background: black;
    color: #fff;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }

  input[type="checkbox"]:focus + label::before {
      outline: black;
  }
}

button {
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
  border-radius: 3px;
}

ul {
  padding-left: 0;
  margin: 0;

  li {
    list-style-type: none;
  }

}

.flxr {
  display: flex;

  &--space-between {
    justify-content: space-between;
  }

  &--just-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.mobile-hidden {
  @media
  only screen and (max-width: 767px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    display: none;
  }
}

.mobile-padding {
  @media
  only screen and (max-width: 767px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    padding: 0 15px;
  }
}

.break-word {
  word-break: break-word;
}

.page-actions {
  float: right;
  margin: 30px 0;

  @media
  only screen and (max-width: 767px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    padding: 0 15px;
  }

  button {
    margin-left: 5px;
  }

}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.margin-bottom {
  margin-bottom: 45px;
}

.grid {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
  grid-column-gap: 30px;
  row-gap: 30px;

  .grid-item {
    background-color: var(--background-dashboard);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 225px;
  }
}
