/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--header-background);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: var(--toolbar-text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid #dcdcdc;
}

.slider.round:before {
  border-radius: 50%;
}

#network-toggle {
  margin-top: -10px;
  // color: var(--toolbar-text-color);

  button, label {
    margin-left: 5px;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--toolbar-text-color);

    &:focus, &:active {
      border: none;
      outline:0;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

