
<div *ngIf="transactionDetail" class="flex align-center">
  <div class="tx-id" [class.tx-id--out]="direction === 'OUT'">
    <a [routerLink]="['/', 'txs', transactionDetail.txID]" title="Transaction ID">
      <b>{{transactionDetail.txID.substring(0, 8)}}...</b>
    </a>
  </div>

  <a class="tx-address" [routerLink]="['/', 'addresses', transactionDetail.address]" title="Address"><b>{{transactionDetail.address.substring(0, 8)}}...</b></a>
</div>

<ul *ngIf="transactionDetail" class="asset-row">
  <li *ngFor="let coin of transactionDetail.coins; let i = index" class="asset-data flex align-center">

    <app-asset-logo *ngIf="coin.asset" [assetPool]="coin.asset"></app-asset-logo>

    <span>{{coin.amount | assetUnits:8 | number:'1.0-6'}}</span>
  </li>

</ul>
