:host {
  float: left;
  clear: both;

  &.pad {
    margin-bottom: 10px;
  }
}

.asset-row {
  float: left;
  clear: both;
  margin-top: 15px;

  .asset-data {
    float: left;
    min-width: 80px;
  }

}

.tx-id {
  background-color: darkgreen;
  float: left;
  color: white;
  padding: 3px;
  border-radius: 3px;
  margin-right: 8px;

  &--out {
    background-color: navy;
  }

  a {
    color: white;
  }
}

.tx-address {
  float: left;
  clear: both;
}

