<div *ngIf="asset" class="mobile-padding">
  <h1 class="flxr flxr--align-center">
    <app-asset-logo *ngIf="asset.asset" [assetPool]="asset.asset"></app-asset-logo>
    {{asset.asset}}
  </h1>
  <nav>
    <a [routerLink]="['/', 'pools', asset.asset]" style="margin-right: 15px;">Details</a>
    <a [routerLink]="['/', 'pools', asset.asset, 'txs']" [queryParams]="{offset: '0'}" style="margin-right: 15px;">Transactions</a>
    <a [routerLink]="['/', 'pools', asset.asset, 'stakers']">Stakers</a>
  </nav>
  <br />
  <span>Price: {{asset.priceRune}}</span> <br />
  <span>Date Created: {{asset.dateCreated * 1000 | date:'short'}}</span>

</div>

<br />

<router-outlet></router-outlet>




