<div *ngIf="asset" class="mobile-padding">
  <h1 class="flex items-center mobile-padding text-2xl font-bold font-mono py-4 dark:text-white">
    <app-asset-logo *ngIf="asset.asset" [assetPool]="asset.asset"></app-asset-logo>
    {{asset.asset}}
  </h1>
  <nav>
    <a [routerLink]="['/', 'pools', asset.asset]" [routerLinkActive]="['border-b-2']" [routerLinkActiveOptions]="{ exact: true }" class="dark:text-white mr-4">Details</a>
    <a [routerLink]="['/', 'pools', asset.asset, 'txs']" [routerLinkActive]="['border-b-2']" [queryParams]="{offset: '0'}" [routerLinkActiveOptions]="{ exact: true }" class="dark:text-white mr-4">Transactions</a>
    <a [routerLink]="['/', 'pools', asset.asset, 'members']" [routerLinkActive]="['border-b-2']" [routerLinkActiveOptions]="{ exact: true }" class="dark:text-white mr-4">Members</a>
  </nav>
  <br />
  <span class="dark:text-white">Price: {{asset.priceRune}}</span> <br />
  <span class="dark:text-white">Date Created: {{asset.dateCreated * 1000 | date:'short'}}</span>

</div>

<br />

<router-outlet></router-outlet>




